oebl_relax_ng_v1.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="Eintrag">
      <attribute name="Nummer"><text/></attribute>
      <optional>
      <attribute name="Version">
          <data type="int"/>
      </attribute>
      </optional>
      <optional>
      <attribute name="eoebl_id">
          <data type="int"/>
      </attribute>
      </optional>
      <optional>
      <attribute name="gnd">
        <choice>
          <data type="string">
            <param name="pattern">1[0123]?\d{7}[0-9X]|[47]\d{6}-\d|[1-9]\d{0,7}-[0-9X]|3\d{7}[0-9X]</param>
          </data>
          <empty/>
        </choice>
      </attribute>
      </optional>
      <optional>
      <attribute name="wikidata">
        <choice>
          <data type="string">
            <param name="pattern">Q[0-9]+</param>
          </data>
          <empty/>
        </choice>
      </attribute>
      </optional>
      <optional>
      <attribute name="doi">
        <choice>
          <data type="string">
            <param name="pattern">10\.\d{4,9}/[\-\._;()/:A-Za-z0-9]+</param>
          </data>
          <empty/>
        </choice>
      </attribute>
    </optional>
      <optional>
      <attribute name="pdf_file">
        <choice>
          <data type="string">
            <param name="pattern">oebl_[0-9]+/[0-9]+\.pdf</param>
          </data>
          <empty/>
        </choice>
      </attribute>
      </optional>
          <element name="Lexikonartikel">
            <zeroOrMore>
              <choice>
                <element name="Schlagwort">
                  <zeroOrMore>
                    <choice>
                      <element name="Hauptbezeichnung"><text/></element>
                      <element name="Nebenbezeichnung">
                        <attribute name="Type"><text/></attribute>
                        <text/>
                      </element>
                    </choice>
                  </zeroOrMore>
                </element>
                <element name="Sortierung_Nachname"><text/></element>
                <element name="Sortierung_Vorname"><text/></element>
                <element name="Schlagwort_Nachname"><text/></element>
                <element name="Schlagwort_Vorname"><text/></element>
                <element name="Vita">
                  <zeroOrMore>
                    <choice>
                      <element name="Geburt">
                        <attribute name="Metadatum">
                          <choice>
                            <data type="int">
                              <param name="minInclusive">0</param>
                              <param name="maxInclusive">2024</param>
                            </data>
                            <empty/>
                          </choice>
                        </attribute>
                        <optional>
                        <attribute name="TT">
                          <choice>
                            <data type="int">
                              <param name="minInclusive">1</param>
                              <param name="maxInclusive">31</param>
                            </data>
                            <empty/>
                          </choice>
                        </attribute>
                        <attribute name="MM">
                          <choice>
                            <data type="int">
                              <param name="minInclusive">1</param>
                              <param name="maxInclusive">12</param>
                            </data>
                            <empty/>
                          </choice>
                        </attribute>
                      </optional>
                        <text/>
                        <element name="Geographischer_Begriff">
                          <optional>
                          <attribute name="OrtAlt"><text/></attribute>
                          <attribute name="OrtNeu"><text/></attribute>
                          <attribute name="LandAlt"><text/></attribute>
                          <attribute name="LandNeu"><text/></attribute>
                          </optional>
                          <text/>
                        </element>
                      </element>
                      <element name="Tod">
                        <attribute name="Metadatum">
                          <choice>
                            <data type="int">
                              <param name="minInclusive">0</param>
                              <param name="maxInclusive">2024</param>
                            </data>
                            <empty/>
                          </choice>
                        </attribute>
                        <optional>
                        <attribute name="TT">
                          <choice>
                            <data type="int">
                              <param name="minInclusive">1</param>
                              <param name="maxInclusive">31</param>
                            </data>
                            <empty/>
                          </choice>
                        </attribute>
                        <attribute name="MM">
                          <choice>
                            <data type="int">
                              <param name="minInclusive">1</param>
                              <param name="maxInclusive">12</param>
                            </data>
                            <empty/>
                          </choice>
                        </attribute>
                      </optional>
                        <text/>
                        <element name="Geographischer_Begriff">
                          <optional>
                          <attribute name="OrtAlt"><text/></attribute>
                          <attribute name="OrtNeu"><text/></attribute>
                          <attribute name="LandAlt"><text/></attribute>
                          <attribute name="LandNeu"><text/></attribute>
                          </optional>
                          <text/>
                        </element>
                      </element>
                      <element name="Berufsgruppe">
                        <attribute name="Berufsgruppe">
                          <choice>
                            <value>Bildende und angewandte Kunst</value>
                            <value>Diverse</value>
                            <value>Geisteswissenschaft</value>
                            <value>Land- und Forstwirtschaft</value>
                            <value>Literatur, Buch- und Zeitungswesen</value>
                            <value>Medizin</value>
                            <value>Militär</value>
                            <value>Musik und darstellende Kunst</value>
                            <value>Naturwissenschaft</value>
                            <value>Politik</value>
                            <value>Rechtswesen und Rechtswissenschaft</value>
                            <value>Religionen und Theologie</value>
                            <value>Sozial- und Wirtschaftswissenschaften</value>
                            <value>Sport</value>
                            <value>Technik</value>
                            <value>Unterrichtswesen</value>
                            <value>Verwaltung</value>
                            <value>Wirtschaft</value>
                          </choice>
                        </attribute>
                        <text/>
                      </element>
                    </choice>
                  </zeroOrMore>
                </element>
                <element name="Geschlecht">
                  <choice>
                    <attribute name="Type"><value>m</value></attribute>
                    <attribute name="Type"><value>w</value></attribute>
                    <attribute name="Type"><empty /></attribute>
                  </choice>
                </element>
                <element name="Kurzdefinition">
                  <optional>
                  <text/>
                </optional>
                  <optional>
                  <element name="Verweis">
                    <attribute name="href"><text/></attribute>
                    <text/>
                  </element>
                </optional>
                  <optional>
                  <text/>
                </optional>
                </element>
                <element name="Haupttext">
                  <optional>
                  <text/>
                </optional>
                  <optional>
                  <element name="Verweis">
                    <attribute name="href"><text/></attribute>
                    <text/>
                  </element>
                </optional>
                  <optional>
                  <text/>
                </optional>
                </element>
                <element name="Werk"><text/></element>
                <element name="Literatur">
                  <optional>
                    <element name="Nekrolog"><text/></element>
                  </optional><text/>
                </element>
                <element name="Autor"><text/></element>
                <optional>
                  <element name="Medien">
                    <zeroOrMore>
                      <choice>
                        <element name="Bild">
                          <attribute name="src"><text/></attribute>
                          <attribute name="type">
                            <choice>
                              <value>online</value>
                            </choice>
                          </attribute>
                          <optional>
                          <attribute name="width">
                            <data type="int"/>
                          </attribute>
                        </optional>
                          <optional>
                          <attribute name="height">
                            <data type="int"/>
                          </attribute>
                        </optional>
                          <optional>
                          <attribute name="alt"><text/></attribute>
                        </optional>
                          <optional>
                          <attribute name="title"><text/></attribute>
                        </optional>
                          <optional>
                          <attribute name="caption"><text/></attribute>
                        </optional>
                        <optional>
                          <element name="Medienbeschreibung"><text/></element>
                        </optional>
                        <optional>
                          <element name="Copyright"><text/></element>
                        </optional>
                        <text/>
                        </element>
                        <element name="Video">
                          <attribute name="href"><text/></attribute>
                          <optional>
                          <attribute name="width">
                            <data type="int"/>
                          </attribute>
                        </optional>
                          <optional>
                          <attribute name="height">
                            <data type="int"/>
                          </attribute>
                        </optional>
                          <optional>
                          <attribute name="alt"><text/></attribute>
                        </optional>
                          <optional>
                          <attribute name="title"><text/></attribute>
                        </optional>
                          <optional>
                          <attribute name="caption"><text/></attribute>
                        </optional>
                        </element>
                        <element name="Audio">
                          <attribute name="href"><text/></attribute>
                          <optional>
                          <attribute name="width">
                            <data type="int"/>
                          </attribute>
                        </optional>
                          <optional>
                          <attribute name="height">
                            <data type="int"/>
                          </attribute>
                        </optional>
                          <optional>
                          <attribute name="alt"><text/></attribute>
                        </optional>
                          <optional>
                          <attribute name="title"><text/></attribute>
                        </optional>
                          <optional>
                          <attribute name="caption"><text/></attribute>
                        </optional>
                        </element>
                        <element name="Text">
                          <attribute name="href"><text/></attribute>
                          <optional>
                          <attribute name="width">
                            <data type="int"/>
                          </attribute>
                        </optional>
                          <optional>
                          <attribute name="height">
                            <data type="int"/>
                          </attribute>
                        </optional>
                          <optional>
                          <attribute name="alt"><text/></attribute>
                        </optional>
                        </element>
                      </choice>
                    </zeroOrMore> 
                  </element>
                </optional>
                <optional>
                  <element name="Externer_Verweis">
                    <attribute name="href"><text /></attribute>
                    <text /></element>
                </optional>
                <element name="PubInfo">
                  <attribute name="Reihe"><choice><text/><empty/></choice></attribute>
                  <attribute name="Band"><text/></attribute>
                  <attribute name="Lieferung">
                    <data type="int"/>
                  </attribute>
                  <attribute name="Seite">
        <choice>
          <data type="string">
            <param name="pattern">[0-9\.f]+</param>
          </data>
          <empty/>
        </choice>
                  </attribute>
                  <attribute name="Jahr">
                    <choice>
                    <data type="int">
                      <param name="minInclusive">1950</param>
                      <param name="maxInclusive">2024</param>
                    </data>
                    <empty/>
                  </choice>
                  </attribute>
                    <attribute name="Monat">
                      <choice>
                      <data type="int">
                        <param name="minInclusive">1</param>
                        <param name="maxInclusive">12</param>
                      </data>
                      <empty/>
                    </choice>
                    </attribute>
                    <attribute name="Tag">
                      <choice>
                      <data type="int">
                        <param name="minInclusive">1</param>
                        <param name="maxInclusive">31</param>
                      </data>
                      <empty/>
                    </choice>
                    </attribute>
                  <text/>
                </element>
              </choice>
            </zeroOrMore>
          </element>
                <optional>
                  <element name="Notiz">
                    <optional>
                      <attribute name="status"><text /></attribute>
                    </optional>
                    <text />
                  </element>
                </optional>
    </element>
  </start>
</grammar>